
@{
    ViewBag.Title = "mostrarlista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid bg-2 text-center">

    @if (Session["lista"].Equals("Seguidos"))
    {
        <h2 class="margin">Lista Seguidos</h2>
    }
    else if (Session["lista"].Equals("Vistos"))
    {
        <h2 class="margin">Lista Vistos</h2>
    }
    else
    {
        <h2 class="margin">Lista Favoritos</h2>
    }
    <p>
        @Html.Partial("_Pelicula", (IEnumerable<DSM5.Models.Pelicula>)ViewBag.peli)
        @Html.Partial("_Serie", (IEnumerable<DSM5.Models.Serie>)ViewBag.serie)
    </p>

    <div class="form-group">
        <div class="col-md-8">
            <a class="btn btn-default" href='@Url.Action("Details", "Usuario", new { id = (string)@Session["correo"] }, null)'>Volver</a>
        </div>
    </div>



</div>


