@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid2 bg-2 text-center">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

            <div class="item active">
                <iframe id="player" frameborder="0" allowfullscreen="1" title="YouTube video player" width="100%" height="800" src="https://www.youtube.com/embed/Q0CbN8sfihY?modestbranding=1&amp;autoplay=1&amp;mute=1&amp;iv_load_policy=3&amp;vq=hd1080&amp;modestbranding=1&amp;rel=0&amp;showinfo=0&amp;showsearch=0&amp;controls=0&amp;loop=1&amp;enablejsapi=1&amp;widgetid=1"></iframe>
                <div class="carousel-caption">
                    <h3>Star Wars: The Last Jedi</h3>
                </div>
            </div>

            <div class="item">
                <iframe id="player" frameborder="0" allowfullscreen="1" title="YouTube video player" width="100%" height="800" src="https://www.youtube.com/embed/whgdkjDJAjg?modestbranding=1&amp;autoplay=1&amp;mute=1&amp;iv_load_policy=3&amp;vq=hd1080&amp;modestbranding=1&amp;rel=0&amp;showinfo=0&amp;showsearch=0&amp;controls=0&amp;loop=1&amp;enablejsapi=1&amp;widgetid=1"></iframe>
                <div class="carousel-caption">
                    <h3>Peaky Blinders</h3>
                </div>
            </div>

            <div class="item">
                <iframe id="player" frameborder="0" allowfullscreen="1" title="YouTube video player" width="100%" height="800" src="https://www.youtube.com/embed/CmRih_VtVAs?modestbranding=1&amp;autoplay=1&amp;mute=1&amp;iv_load_policy=3&amp;vq=hd1080&amp;modestbranding=1&amp;rel=0&amp;showinfo=0&amp;showsearch=0&amp;controls=0&amp;loop=1&amp;enablejsapi=1&amp;widgetid=1"></iframe>
                <div class="carousel-caption">
                    <h3>Suicide Squad</h3>
                </div>
            </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>


@if (Session["log"] == null)
{
<div class="container-fluid bg-2 text-center">
    <h2 class="margin">Peliculas Destacadas</h2>
    <div class="col-md-3">
        <div class="col">
            <h3>Coco</h3>
        </div>
        <div class="col">
            <p>Valoración: 5</p>
        </div>
        <div class="col">
            <a href='@Url.Action("Details", "Pelicula", new { id = 229378 })'>
                <!--Ruta simple: sw8.jpg-->
                <img class="cartelera" src='~/Images/cartelera/i7.jpg' />
            </a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="col">
            <h3>Jumanji</h3>
        </div>
        <div class="col">
            <p>Valoración: 4</p>
        </div>
        <div class="col">
            <a href='@Url.Action("Details", "Pelicula", new { id = 229377 })'>
                <!--Ruta simple: sw8.jpg-->
                <img class="cartelera" src='~/Images/cartelera/i2.jpg' />
            </a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="col">
            <h3>Perfectos Desconocidos</h3>
        </div>
        <div class="col">
            <p>Valoración: 4</p>
        </div>
        <div class="col">
            <a href='@Url.Action("Details", "Pelicula", new { id = 229379 })'>
                <!--Ruta simple: sw8.jpg-->
                <img class="cartelera" src='~/Images/cartelera/i3.jpg' />
            </a>
        </div>
    </div>
</div>




    }


    <div class="container-fluid bg-2 text-center">
        <h2 class="margin">Series Destacadas</h2>
        <div class="row">
            <div class="col-sm-4">
                <p>Gladiator</p>
                <img src="~/Images/Gladiator.jpg" class="img-thumbnail img-responsive margin" alt="Cinque Terre">
            </div>
            <div class="col-sm-4">
                <p>Master and Comander</p>
                <img src="~/Images/MasterAndComander.jpg" class="img-thumbnail img-responsive margin" alt="Cinque Terre">
            </div>
            <div class="col-sm-4">
                <p>Titanic</p>
                <img src="~/Images/Titanic.jpg" class="img-thumbnail img-responsive margin" alt="Cinque Terre">
            </div>
        </div>
    </div>
