/*
    Nuestro style que nosotros queramos modificar. Si queremos modificar clases del bootstrap, modificarlas en bootstrap.css
*/

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}

.bg-2 {
    background-color: #4f4f4f; /* Dark Blue */
    color: #ffffff;
}
.bg-2G {
    background-color: #4f4f4f; /* Dark Blue */
}
.bg-mostaza {
    background-color: #e09e04;
}

.bg-3 {
    background-color: #4f4f4f; /* White */
    color: #555555;
}

.container-fluid {
    padding-top: 40px;
    padding-bottom: 40px;
}

.container-fluid2 {
    margin: 0 auto;
    width: 100%;
    margin-top: -80px;
}

.carousel-caption {
    margin-bottom: 40px;
}
p, a, h2, h3, h4, th {
    font-family: 'Vintage Avalanche';
}

.admin {
    color: red;
}
.admin a{
    color: red;
    text-decoration:none;
}
.cartelera {
    width: 60%;
    height: 80%;
    margin-bottom: 50px;
}
.cartelera:hover{
    opacity:0.8;
}
.reproductor{
    height:1000px;
}
.gp {
    padding-left: 100px;
}
.btn-mostaza {
    background: #e09e04;
    color: #e09e04;
}

.gercaja {
    float: left;
    width: 300px;
    height: 250px;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 8px;
    margin-left: 80px;
    margin-top: 80px;
}
.gerMargenLetras {
    margin-bottom: 10px;
    margin-top: 10px;
}
.centrarResponsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imagenesIndexProductos {
    width: 200px;
    height: 200px;
}
.imagenesIndexProductos:hover{
        opacity:0.8;
}
.imagenesDetailsProductos {
    width: 300px;
    height: 300px;
}
.imagenesCarrito {
    width: 50px;
    height: 50px;
}
.margenDescripcionesEventos {
    margin-top: 50px;
}

.card{
    width: 1200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.colorTituloProductos {
    color: #ffffff;
}
.ne {
    color: black;
}
.perfilTabla {
    width: 50%;
}