/*
    Nuestro style que nosotros queramos modificar. Si queremos modificar clases del bootstrap, modificarlas en bootstrap.css
*/


.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}

.bg-2 {
    background-color: #4f4f4f; /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #4f4f4f; /* White */
    color: #555555;
}

.container-fluid {
    padding-top: 40px;
    padding-bottom: 40px;
}

.container-fluid2 {
    margin: 0 auto;
    width: 100%;
    margin-top: -80px;
}

.carousel-caption {
    margin-bottom: 40px;
}
p, a, h2, h3 {
    font-family: 'Vintage Avalanche';
}

.admin {
    color: red;
}
.cartelera {
    width: 60%;
    height: 80%;
    margin-bottom: 50px;
}