@model IEnumerable<DSM5.Models.Pelicula>

@{
    ViewBag.Title = "Películas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .cartelera{
        width:60%;
        height:80%;
        margin-bottom:50px;
    }
</style>

<div class="container-fluid bg-2 text-center">
    <h2 class="margin">Películas</h2>

    <p>
        @Html.ActionLink("Añadir película", "Create")
    </p>

    @foreach (var item in Model)
    {
        <div class="col-md-2">
            <div class="col">
                <p>@Html.DisplayFor(modelItem => item.Nombre)</p>
            </div>
            <div class="col">
                <p>Valoración: @Html.DisplayFor(modelItem => item.Valoracion)</p>
            </div>
            <div class="col">
                <a href='@Url.Action("Details", "Pelicula", new { id = item.id })'>
                    <!--Ruta simple: sw8.jpg-->
                    <img class="cartelera" src='~/Images/cartelera/@Html.DisplayFor(modelItem => item.Imagen)'/>
                </a>
            </div>
        </div>
    }

</div>