@model IEnumerable<DSM5.Models.Pelicula>

@{
    ViewBag.Title = "Películas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid bg-2 text-center">
    <h2 class="margin">Películas</h2>

    <p>
        @Html.ActionLink("Añadir película", "Create")
    </p>

    @foreach (var item in Model)
    {
        <div class="col-md-2">
            <div class="col">
                @Html.DisplayFor(modelItem => item.Nombre)
            </div>
            <div class="col">
                @Html.DisplayFor(modelItem => item.Valoracion)
            </div>
            <div class="col">
                <a href='@Url.Action("Details", "Pelicula", new { id = item.id })'>
                    <img src='~/Images/@Html.DisplayFor(modelItem => item.Imagen)'/>
                </a>
            </div>
        </div>
    }

</div>